<div id="<%= dom_id transaction %>">
  <p>
    <strong>Product Id:</strong>
    <%= transaction.product_id %>
  </p>

  <p>
    <strong>Shelter Id:</strong>
    <%= transaction.shelter_id %>
  </p>

  <p>
    <strong>Transaction Type:</strong>
    <%= transaction.transaction_type %>
  </p>

  <p>
    <strong>Transaction Date:</strong>
    <%= transaction.transaction_date %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= transaction.quantity %>
  </p>

</div>
