<!DOCTYPE html>
<html>
  <head>
    <title>ZaikoKanri</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>

  <!-- Top Bar Section -->
  <div class="top-bar"> 
    在庫管理
  </div>

  <div class="container">
    <!-- Sidebar Section -->
    <div class="side-bar">
      <ul>
      <li><%= link_to 'Stocks', stocks_path %></li>
      <li><%= link_to 'Categories', categories_path %></li>
      <li><%= link_to 'Supplies', supplies_path %></li>
      <li><%= link_to 'Products', products_path %></li>
      <li><%= link_to 'Shelters', shelters_path %></li>
      <li><%= link_to 'Transactions', transactions_path %></li>
      </ul>
    </div>

    <!-- Main Content Section -->
    <div class="main-content">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
